.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #a10d0d;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

table {
  color: rgba(53, 221, 11, 0.938);
  border-radius: 10px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #0c0803;
}

.header-row {
    background: #34495E;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}